
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navar {
    font-family: 'Bebas Neue', cursive;

    align-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0;
    margin-right: 25px;
 display: flex;
 justify-content: space-around;
    font-size: 25px!important ;
    color: aliceblue;
};

.btnr{
    background-color: rgba(8, 25, 222, 0.878);
}