.detail {
    background-color: black;
    }
    .detail2 {
    background-color: black;
        max-width: 300px!important;
    
        }
.inline-flex{
    display: inline-flex!important;
}